<%- include('./include/header.ejs') %>
<%- include('./include/navbar.ejs') %>
<link rel="stylesheet" href="../assets/style/questions_display.css">


<div class="teste"></div>

  
<div class="disciplines_question"> 
                        <!-- Questão de exemplo caso não haja questões da API -->
                         </div>


            



<script src="../assets/javascript/api.js"></script>
<%- include('./include/footer.ejs') %>
