<%- include('./include/header.ejs') %>
<%- include('./include/navbar.ejs') %>


<div class="teste"></div>



<script src="../assets/javascript/api.js"></script>
<%- include('./include/footer.ejs') %>
